*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
background-color: black;
}

section{
}

.cell {
display: inline-block;
height: 512px;
width: 256px;border: 1px solid rgb(255, 255, 255);
margin: 10px;
}

.content {
}

.image{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;

}

.text{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
color: white;
margin: 5px;
}