
/* #region Comment*/
/* 
    justify-content
    flex-direction
    order
    align-self
    flex-wrap
    flex-flow
    align-items
    align-content
    */

/* #endregion Comment*/


/* #region Global Style*/
:root {
    /* Variables */
    --main_color:rgb(0, 75, 116);
    --accent_color:rgb(0, 217, 255);
    --touch_color:rgb(0, 23, 36);
    --text_color:rgba(255,255,255,1);
    --text_color_contrast:rgba(0,0,0,1);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text_color);
    /*     border: 1px solid #003049;*/

    /*     Debug Boarder*/
    /** border: 1px solid white;  /**/

}

html {
    justify-content: center;
    background-image: url(LtS7Q.png);
    background-repeat: repeat;
}

body {
    min-width: 100%;
    min-height: 100%;
    background-repeat: repeat;
    background: linear-gradient(90deg, rgba(0,0,0,0.64) 0%, rgba(0,119,182,0.64) 25%, rgba(144,224,239,0.64) 38%, rgba(255,255,255,0.64) 50%, rgba(144,224,239,0.64) 62%, rgba(0,119,182,0.64) 75%, rgba(0,0,0,0.64) 100%);}

section {
    text-align: center;
}

table {
    display: inline-flex;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 8%;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

form {
    display: grid;
    width: 100%;
    width: 276px;
    border: 2px solid var(--main_color);
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

label {
    display: block;
    text-align: left;
}

input {
    display: block;
    margin: 10px auto;
}

main {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

nav {
    display: block;
    height: fit-content;
    width: 100%;
}

/* #endregion Global Style*/

/* #region Navigation bar Style*/
ul {
    display: flex;
    width: 100%;
    border: 2px solid var(--main_color);
    overflow: visible;
    background-color: var(--accent_color);
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex: 1;
    border-right: 2px solid var(--text_color);
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

/* li:last-child {
    border-right: none;
} */

li a {
    display: block;
    color: var(--text_color_contrast);
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: var(--main_color);
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

.active {
    display: flex;
    width: fit-content;
    justify-content: center;
    background-color: var(--main_color);
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

.dropdown-menu {
    background-color: #669BBC;
    width: fit-content;
}

.dropdown-item {
    color:var(--text_color);
    text-shadow: 2px 2px var(--main_color);
}

.n_navdropdown_item {
    display: flex;
    padding: 0;
    margin: 0;
    border-right: double;
    width: 100%;
    


}

.n_menuitemspan {
    color: var(--main_color);
    text-shadow: 2px 2px var(--accent_color);

}

#n_navdropdown_button {
    width: 100%;
    height: 100%;
    color: var(--accent_color);
    background-color:var(--main_color);
    border: 2px solid var(--touch_color);
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;

    
}

#n_navdropdown_container {
    padding: 0;
    margin: 0;
    justify-self: center;
    align-self: center;
    background-color: var(--main_color);
}


/* #endregion Navigation bar Style */

/* #region Index Style*/
/* #endregion Index Style*/

/* #region News Style*/
.s_cell {
    display: block;
    margin: 24px;
    width: min-content;
    background-color: var(--accent_color);
    border: 2px solid var(--main_color);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.s_video {
    border: 2px solid var(--main_color);
    margin: 5px;
}

.s_text {
    display: block;
    color: white;
}

.s_showcase {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

/* #endregion News Style*/

/* #region Gallery Style*/
.g_img {

    display: inline-block;
    position: relative;
    z-index: 2;
}

.g_img_text {

    max-height: 40%;
    color: rgba(255, 255, 255, 1.0);
    text-shadow: 2px 2px var(--main_color);
    margin: 0 auto;
    border: #4a5f7a;
}

.g_header {
    display: grid;
    text-align: center;
    padding: 32px;
    border: 2px solid var(--main_color);
    background-color: var(--touch_color);
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

/* Get child of Header. Edit h1 and h2 that are children of header. */
header>h1,
h3 {
    color: var(--text_color);
    text-shadow: 2px 2px var(--accent_color);
}

/* Width-% before Width-int gives reactive screen size display with out media inquiry !?!?!?! ODD...Property order matters.*/
.g_section {
    display: grid;
    position: relative;
    width: 30%;
    width: 256px;
    margin: 16px;
}

/* Makes Section Expand  */
.g_section:hover {
    width: 40%;
    width: 512px;
    transition-duration: 1s;
}

/* Makes Text vanish on image hover */
.g_section:hover .g_img_text {
    height: 0px;
    width: 0px;
    color: rgba(0,0,0,0.0);
    text-shadow: 2px 2px rgba(0,0,0,0.0);
}

/*
.g_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}




Create four equal columns that sits next to each other
.g_column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.g_columnimg {
    vertical-align: middle;
}
*/
.g_gallery {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #endregion Gallery Style*/

/* #region Resume Style*/
/* #endregion Resume Style*/

/* #region Login Style*/
.l_form {
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--text_color);
}

.fbutton {
    color: var(--text_color_contrast);
    background-color: var(--main_color);
}

.i_gif{
    display: flex;
    width: 100%;
    height: 512px;
    padding: 0;
    margin: 0;
}

p{
    color: var(--text_color);
}

span{
    display: inline-flex;
    color: var(--text_color);
}
h2{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}

/* #endregion Login Style*/

/* #region Signup Style*/

/* #endregion Signup Style*/