/* #region Comment*/
/* 
    justify-content
    flex-direction
    order
    align-self
    flex-wrap
    flex-flow
    align-items
    align-content
    */
/* #endregion Comment*/

/* #region Global Style*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);

/*     Debug Boarder*/ /** border: 1px solid white;  /**/

}

html{
    justify-content: center;
    background-image:url(/Week3/images/LtS7Q.png);
    background-repeat: repeat;
}
body {
    min-width: 100%;
    min-height: 100%;
    background-repeat: repeat;
    background: radial-gradient(circle, rgba(0,0,0,0.6951155462184874) 25%, rgba(50,50,50,0.6923144257703081) 50%, rgba(0,0,0,0.5382528011204482) 75%);
}

section {
    text-align: center;
}

table {
    display: inline-flex;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 8%;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
}

form {
    display: flex; 
    width: 100%;
    border: 1px solid #57636e;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

label {
    display: block;
    text-align: left;
}

input {
    display: block;
    margin: 0 auto;
}

main {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    align-content: center;
    justify-content: center;
}

nav{
    display: block;
    height:fit-content;
    width: 100%;
}
/* #endregion Global Style*/

/* #region Navigation bar Style*/
ul {
    display: flex;
    list-style-type: none;
    border-radius: 8px;
    border: 2px solid #57636e;
    margin: auto;
    overflow: hidden;
    background-color: #013f5c79;
}

li {
    flex: 1;
    float: left;
    margin: auto;
    border-right: 1px solid #bbbbbba6;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(223, 229, 233);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5f6f8b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.active {
    padding:15px;
    background-color: #4a5f7a;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#n_navdropdownbutton{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.0);
}
#n_navdropdowndiv{
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}


/* #endregion Navigation bar Style */

/* #region Index Style*/
/* #endregion Index Style*/

/* #region News Style*/
.s_cell {
    display: block;
    margin: 24px;
    width:min-content;
    background-color: #000000;
    border: 1px solid #57636e;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.s_video{
    border: 2px solid #57636e;
    margin: 5px;
}

.s_text {
    display: block;
    color: white;
    border: 1px solid #57636e;
}

.s_showcase{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}
/* #endregion News Style*/

/* #region Gallery Style*/
.g_img {

    display: inline-block;
    position: relative;
    z-index: 2;
}

.g_img_text {

    max-height: 40%;
    color: rgba(255, 255, 255, 1.0);
    text-shadow: 2px 2px #000000;
    margin:0 auto;
    border: #4a5f7a;
}
.g_header {
    display: grid;
    text-align: center;
    padding: 32px;
    border: px solid white;
    background-color: #4a5f7a;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Get child of Header. Edit h1 and h2 that are children of header. */
header> h1 ,h3{
    color:  rgb(0, 31, 78);
    /* border-radius: 32px; */
/*     background: rgb(19, 19, 19);
 */}

/* Width-% before Width-int gives reactive screen size display with out media inquiry !?!?!?! ODD...Property order matters.*/
.g_section{
    display: grid;
    position: relative;
    width: 30%;
    width: 256px;
    margin: 16px;
}

/* Makes Section Expand  */
.g_section:hover{
    width: 40%;
    width: 512px;
    transition-duration: 1s; 
}

/* Makes Text vanish on image hover */
.g_section:hover .g_img_text{
    height: 0px;
    width: 0px;
    color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px #00000000;

}
/*
.g_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}




Create four equal columns that sits next to each other
.g_column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.g_columnimg {
    vertical-align: middle;
}
*/
.g_gallery{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #endregion Gallery Style*/

/* #region Resume Style*/
/* #endregion Resume Style*/

/* #region Login Style*/
.l_form{
    display: flex;
    align-content: center;
    justify-content: center;
}

.fbutton {
    color: black;
    background-color: #ffffff;
}
/* #endregion Login Style*/

/* #region Signup Style*/

/* #endregion Signup Style*/